/* custom */
.hidden { display: none!important; }
.margin-top-2 { margin-top: 2rem; }
.text-left { text-align: left; }
.positionRel { position: relative; }
button { margin: 10px; }
#contentPreLoaderCFN {
	position: absolute;
	top: 0;
	bottom: 0; 
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 100;
	text-align: center;
}
#contentPreLoaderCFN img {
	left: 50px;
	position: absolute;
	top: 50px
}
form {
	line-height: 1;
	text-align: center;
}
#languagesCFN a { font-weight: bold; }
#languagesCFN a.disabled { color: #000; }

label.labels-left_CFN {
	display: block;
	text-align: left;
	position: absolute;
    top: -20px;
}
.table-responsive img { max-height: 50px; }

#newOrUpdateItemCardCFN { min-height: 130px; }

#newOrUpdateItemFormCFN .col-lg-4 {
	position: relative;
    max-height: 40px;
    top: 10px;
	margin-top: 30px;
}
@media (min-width: 992px) {
	#newOrUpdateItemFormCFN .col-lg-4 {margin-top: 0;}
}
.newOrUpdateItemFormCFN select, .newOrUpdateItemFormCFN input {
	max-height: 38px;
    height: 100%;
}
button.newOrUpdateItemFormCFN {
	width: 125px;
    text-align: left;
    display: block;
    margin: 10px auto;
}
button.multiselect { margin: 0; }
button.multiselect-clear-filter {
	padding: 0;
    line-height: 1;
    margin: 5px 0 5px 5px;
}
#newOrUpdateItemFormCFN .btn-icon-split.btn-sm .icon { width: 30px }
#newOrUpdateItemFormCFN .btn-icon-split.btn-sm .text {
	width: 89px;
	text-align: center;
}

/* overrides */
.btn.disabled, .btn:disabled { cursor: not-allowed; }
.dropdown-menu.show {
	padding: 5px 0;
	border-radius: 0;
}
.multiselect-container .input-group {
	margin: 0;
    padding: 5px;
}
.input-group > .form-control.multiselect-search {
	height: auto;
    padding: 0 5px;
    border-radius: 0;
}
.multiselect-container>li>a>label {
	padding: 5px;
	color: #111;
}
.multiselect-container>li>a>label>input[type=checkbox] {
	margin: 0;
	vertical-align: bottom;
}