/* custom */
.hidden { display: none!important; }
.text-left { text-align: left; }
.positionRel { position: relative; }
.pad-right-30 { padding-right: 30px; }
button { margin: 10px; }

#contentPreLoaderCFN {
	position: absolute;
	top: 0;
	bottom: 0; 
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 100;
	text-align: center;
}
#contentPreLoaderCFN img {
	position: absolute;
	top: 50px
}

#actionLayer-98 {
	position: absolute;
    z-index: 98;
    background: #000;
	opacity: 0.5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

form {
	line-height: 1;
	text-align: center;
}
#languagesCFN a { font-weight: bold; }
#languagesCFN a.disabled { color: #000; }

label.labels-left_CFN {
	display: block;
	text-align: left;
	margin-top: 0.5rem;
}
.table-responsive img { max-height: 50px; }
.rowImageCFN { text-align: center; }

#userDropdown { padding: 0; }
#newOrUpdateItemCardCFN {
	position: fixed;
    z-index: 99;
    webkit-box-shadow: -3px 0px 5px 0px rgba(0,0,0,0.2);
    box-shadow: -3px 0px 5px 0px rgba(0,0,0,0.2);
    right: -345px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    background: #fff;
    top: 10vh;
    width: 340px;
	height: 50vh;
}
&:hover, &:focus
{
	transform: translate3d(-250px, 0, 0);
	animation-timing-function: 1s ease-in;
}
#newOrUpdateItemCardCFN .switch {
	position: absolute;
    top: 20px;
    left: -50px;
    width: 50px;
    height: 30px;
    background: #fff;
	text-align: left;
    box-shadow: -3px 0px 5px 0px rgba(0,0,0,0.2);
	cursor: pointer;
}
#newOrUpdateItemCardCFN .card { border: 0; }
#newOrUpdateItemCardCFN .switch .fas {
	font-size: 17px;
    vertical-align: middle;
    padding: 7px;
	color: #1cc88a;
}
#newOrUpdateItemCardCFN .switch.open .fas { color: #f6c23e; }
#newOrUpdateItemCardCFN.expandedCFN {
	right: 0;
}
#newOrUpdateItemCardCFN > .col {
	background: #fff;
	height: 100%;
	overflow: auto;
}

.newOrUpdateItemFormCFN select, .newOrUpdateItemFormCFN input {
	max-height: 38px;
    height: 100%;
}
button.newOrUpdateItemFormCFN {
	width: 125px;
    text-align: left;
    display: block;
    margin: 10px auto;
}
button.multiselect { margin: 0; }
button.multiselect-clear-filter {
	padding: 0;
    line-height: 1;
    margin: 5px 0 5px 5px;
}
#newOrUpdateItemFormCFN .btn-icon-split.btn-sm .icon { width: 30px }
#newOrUpdateItemFormCFN .btn-icon-split.btn-sm .text {
	width: 89px;
	text-align: center;
}
#newOrUpdateMainTableRowButtonCFN { margin: 20px 0 0 0; }

.accountStatusToggleCFN { display: none; }

/* overrides */
body {
	font-family: 'Source Sans Pro', sans-serif;
}
form.user .btn-user { margin: 0; }
.btn.disabled, .btn:disabled { cursor: not-allowed; }
.table th, .table td {
	padding: 5px;
	vertical-align: middle;
}
.dropdown-menu.show {
	padding: 5px 0;
	border-radius: 0;
}
.multiselect-container .input-group {
	margin: 0;
    padding: 5px;
}
.input-group > .form-control.multiselect-search {
	height: auto;
    padding: 0 5px;
    border-radius: 0;
}
.multiselect-container>li>a>label {
	padding: 5px;
	color: #111;
}
.multiselect-container>li>a>label>input[type=checkbox] {
	margin: 0;
	vertical-align: bottom;
}
.sidebar .nav-item .nav-link .img-profile, .topbar .nav-item .nav-link .img-profile {
	max-width: 2rem;
	max-height: 2rem;
	width: 100%;
	height: auto;
}
table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after { bottom: 0.45em; }