.fontMontserrat {
	font-family: 'Montserrat', sans-serif;
}

.fontRoboto {
	font-family: 'Roboto Slab', serif;
}

.fontNeohellenic {
	font-family: 'GFS Neohellenic', sans-serif;
}

.fontDMSerif {
	font-family: 'DM Serif Display', serif;
}